<footer class="centered fade">
  <div>
      <span class="horizontal-line"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p id="footer-copyright">© 2020 Copyright:Shuai Zhong</p>
      </div>
      <div class="col-sm-12 col-md-6 socialContainer">
    
          <a class="contact-anchor" href="mailto:shosui2018@gmail.com">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          </a>

          <a class="contact-anchor" href="https://www.weibo.com/2905876895/profile?rightmod=1&wvr=6&mod=personnumber" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-weibo fa-2x" aria-hidden="true"></i>
          </a> 

          <a class="contact-anchor" href="https://www.instagram.com/decadeformij/">
            <i class="fab fa-instagram-square fa-2x" aria-hidden></i>
          </a>

          <a class="contact-anchor" href="https://twitter.com/decadeformij" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
          </a>

          <a class="contact-anchor" href="https://github.com/sho2018tnw" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github-square fa-2x" aria-hidden="true"></i>
          </a> 

      </div>
    </div>
  </div>
</footer>