<div class="container">
  <div class="content-container largeContainer">
    <div class="fadeSlideBottom">
      <!-- Upper Part -->
      <h1 class="white">About Me</h1>
      <img class="profile-picture" src="https://res.cloudinary.com/dpuggdmgx/image/upload/v1583308491/portfolio%20website/about/IMG_3384_1_wyaujc.jpg" />
      <!-- Upper Part -->

      <!-- Lower Part -->
      <div *ngFor="let aboutGroup of aboutGroups" class="about-content">
        <h2 [innerHTML]="languageService.displayIsEnglish ? aboutGroup.headerEN : aboutGroup.headerJP"></h2>
        <p class="box-paragraph"[innerHTML]="languageService.displayIsEnglish ? aboutGroup.paragraphEN : aboutGroup.paragraphJP"></p>
        <img class="about-image" [src]="aboutGroup.imgPath">
      </div>
      <!-- Lower Part -->
    </div>
  </div>
</div>
