<div id="nav-bar-container" class="container fade">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<button class="navbar-toggler" type="button" (click)="toggleNav()">
      			<span class="navbar-toggler-icon"></span>
    		</button>


    		<div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="isExpanded" >    			
    		<ul class="navbar-nav mr-auto">
    			<li class="nav-item" [class.active]="languageService.activePage == 0" >
  					<a class="nav-link" routerLink="/" [innerHTML]="languageService.displayIsEnglish ? 'Home' : 'ホーム'" ></a>
  				</li>
  				<li class="nav-item" [class.active]="languageService.activePage == 1" >
  					<a class="nav-link" routerLink="/portfolio" [innerHTML]="languageService.displayIsEnglish ? 'Portfolio' : 'ポートフォリオ'" ></a>
  				</li>
  				<li class="nav-item" [class.active]="languageService.activePage == 2" >
  					<a class="nav-link" routerLink="/about" [innerHTML]="languageService.displayIsEnglish ? 'About' : '自己紹介'" ></a>
  				</li>
  				<li class="nav-item" [class.active]="languageService.activePage == 3" >
  					<a class="nav-link" routerLink="/contact" [innerHTML]="languageService.displayIsEnglish ? 'Contact' : '連絡'" ></a>
  				</li>
			</ul>
			</div>

		<!-- pull right -->
		<ul class="navbar-nav ml-auto" id="language-bar">
        <li class="nav-item language-item ">
          <a class="nav-link" (click)="switchToEnglish()" >
            <img class="language-change darken" src="https://res.cloudinary.com/dpuggdmgx/image/upload/v1583304416/portfolio%20website/flag/FlagEnglish_bwo4eh.jpg">
          </a>
        </li>
        <li class="nav-item language-item ">
          <a class="nav-link" (click)="switchToJapanese()" >
            <img class="language-change darken" src="https://res.cloudinary.com/dpuggdmgx/image/upload/v1583304416/portfolio%20website/flag/FlagJapan_ldsyn3.jpg">
          </a>
        </li>
        
      </ul>	
      </nav>
	<div>
		<span class="horizontal-line"></span>
	</div>
</div>
